.banner {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  &__brand_logo {
    width: 15%;
    img {
      max-width: 100%;
    }
  }
}
