.get-vaccinated {
  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    gap: 2rem;
  }
  &__box.special {
    border-radius: 20px 80px 20px 20px;
    background: rgba(196, 196, 196, 0.2);
  }
  &__box {
    padding: 2rem;
    border-radius: 49.896px;
    border: 2.994px solid rgba(255, 255, 255, 0.5);
  }
  &__flex1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__flex2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .get-vaccinated {
    &__flex1 {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
    &__flex2 {
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .get-vaccinated {
    &__content {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      h1 {
        width: 50%;
      }
    }
  }
}
