.container {
  padding: 0 24px 0 24px;

  @media screen and (min-width: 768px) {
    padding: 0 36px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.skyblue {
  color: #17c2ec;
}
.white {
  color: #fff;
}
.grey {
  color: rgba(255, 255, 255, 0.5);
}
.grey-1 {
  color: rgba(0, 0, 0, 0.5);
}
.background-skyblue {
  background-color: #0b153c;
}
.icon-border {
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.15);
  padding: 0.75rem;
}
.sky-blue_border {
  border: 2px solid #17c2ec !important;
}
.wrapper {
  &__symptoms {
    background: #0b153c;
  }
  &__header {
    background: #0b153c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  &__home {
    background: #0b153c;
    padding-top: 12rem;

    color: #fff;
  }
  &__banner {
    background: rgba(255, 255, 255, 0.5);
  }
  &__covidResult {
    background: #0b153c;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  &__get-vaccinated {
    background: #0b153c;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
  }
  &__feedback {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: url(../../../assets/img/Group\ 74.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__footer {
    background: #0b153c;
  }
  &__vaccine-registration {
    background: rgba(255, 255, 255, 0.5);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
