.container {
  padding: 0 24px 0 24px;

  @media screen and (min-width: 768px) {
    padding: 0 36px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.skyblue {
  color: #17c2ec;
}
.background-skyblue {
  background-color: #0b153c;
}
.wrapper {
  &__symptoms {
    background: #0b153c;
  }
  &__header {
    background: #0b153c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  &__home {
    background: #0b153c;
    padding-top: 12rem;

    color: #fff;
  }
  &__banner {
    background: rgba(255, 255, 255, 0.5);
  }
  &__covidResult {
    background: #0b153c;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  &__get-vaccinated {
    background: #0b153c;
    padding-top: 8rem;
    padding-bottom: 8rem;
    color: white;
  }
  &__footer {
    background: #0b153c;
  }
  &__vaccine-registration{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, rgba(255, 255, 255, 0.50);
  }
}
