.viewport {
  border: 2px solid blue;
  position: relative;
  height: 1000px;
  width: 1000px;
  margin: 0 auto;
}
.ball {
  width: 2px;
  aspect-ratio: 1;
  background-color: greenyellow;
  position: absolute;
  border-radius: 50%;
}
